[2016-02-21 18:02] yegor256 opened #1 "skeleton, version 0.1"

[2016-02-21 22:50] yegor256 commented on #1
@rultor deploy

[2016-02-21 22:51] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/7197-186937828)

[2016-02-21 22:51] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7197-186937828) (spent 10s)

[code]

[2016-02-21 22:59] yegor256 commented on #1
@rultor deploy

[2016-02-21 22:59] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/7197-186939174)

[2016-02-21 23:02] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7197-186939174) (spent 3min)

[code]

[2016-02-21 23:04] yegor256 commented on #1
@rultor deploy

[2016-02-21 23:05] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/7197-186940091)

[2016-02-21 23:06] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7197-186940091) (spent 18s)

[code]

[2016-02-22 03:36] yegor256 commented on #1
@rultor deploy

[2016-02-22 03:36] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/7197-186987445)

[2016-02-22 03:40] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7197-186987445) (spent 4min)

[code]

[2016-02-22 03:42] yegor256 commented on #1
@rultor deploy

[2016-02-22 03:42] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/7197-186989731)

[2016-02-22 03:44] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7197-186989731) (spent 3min)

[code]

[2016-02-22 04:27] yegor256 commented on #1
@rultor deploy

[2016-02-22 04:28] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/7197-187001447)

[2016-02-22 04:31] rultor commented on #1
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7197-187001447) (took me 4min)

[2016-02-22 07:14] yegor256 commented on #1
@rultor release, tag is `0.1`

[2016-02-22 07:15] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7197-187047366)

[2016-02-22 07:18] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7197-187047366) (spent 3min)

[code]

[2016-02-22 07:19] yegor256 commented on #1
@rultor release, tag is `0.1`

[2016-02-22 07:21] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7197-187049562)

[2016-02-22 07:24] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7197-187049562) (spent 4min)

[code]

[2016-02-22 07:30] yegor256 commented on #1
@rultor release, tag is `0.1`

[2016-02-22 07:31] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7197-187052597)

[2016-02-22 07:34] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7197-187052597) (spent 4min)

[code]

[2016-02-22 07:35] yegor256 commented on #1
@rultor release, tag is `0.1`

[2016-02-22 07:37] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7197-187055072)

[2016-02-22 07:39] rultor commented on #1
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7197-187055072) (took me 3min)

[2016-02-22 07:39] #1 closed

[2016-02-22 20:49] yegor256 opened #2 "github events are not clear"

[2016-02-23 07:00] yegor256 commented on #2
@rultor release, tag is `0.2`

[2016-02-23 07:01] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7232-187575940)

[2016-02-23 07:05] rultor commented on #2
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7232-187575940) (took me 4min)

[2016-02-23 07:12] #2 closed

[2016-02-23 18:55] yegor256 opened #3 "more detailed information on errors"

[2016-02-24 01:25] yegor256 commented on #3
@rultor deploy

[2016-02-24 01:26] rultor commented on #3
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/7245-187999699)

[2016-02-24 01:32] rultor commented on #3
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7245-187999699) (took me 7min)

[2016-02-24 01:42] yegor256 commented on #3
@rultor hello

[2016-02-24 01:43] rultor commented on #3
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2016-02-24 01:49] yegor256 commented on #3
@rultor hello

[2016-02-24 01:49] rultor commented on #3
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2016-02-24 02:05] yegor256 commented on #3
@rultor hello

[2016-02-24 02:05] rultor commented on #3
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2016-02-24 02:13] yegor256 commented on #3
@rultor hello

[2016-02-24 02:14] rultor commented on #3
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2016-02-24 02:17] yegor256 commented on #3
@rultor release, tag is `0.3`

[2016-02-24 02:18] rultor commented on #3
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7245-188015468)

[2016-02-24 02:24] yegor256 opened #4 "regex filters"

[2016-02-24 02:25] rultor commented on #3
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7245-188015468) (took me 7min)

[2016-02-24 04:30] yegor256 commented on #4
@rultor hello

[2016-02-24 04:31] rultor commented on #4
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2016-02-24 05:24] yegor256 commented on #4
@rultor hello

[2016-02-24 05:25] rultor commented on #4
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2016-02-24 08:01] #3 closed

[2016-02-24 08:01] yegor256 commented on #4
@rultor release, tag is `0.4`

[2016-02-24 08:01] #4 closed

[2016-02-24 08:01] yegor256 opened #5 "favicon with a number"

[2016-02-24 08:02] rultor commented on #4
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7247-188131929)

[2016-02-24 08:07] rultor commented on #4
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7247-188131929) (took me 5min)

[2016-02-24 17:20] yegor256 commented on #5
@rultor release, tag is `0.5`

[2016-02-24 17:20] #5 closed

[2016-02-24 17:21] rultor commented on #5
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7266-188360067)

[2016-02-24 17:25] rultor commented on #5
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7266-188360067) (took me 4min)

[2016-02-24 23:10] yegor256 opened #6 "Ignore doesn't work"

[2016-02-24 23:10] #6 closed

[2016-02-24 23:10] yegor256 commented on #6
@rultor release, tag is `0.5.1`

[2016-02-24 23:11] rultor commented on #6
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7278-188505104)

[2016-02-24 23:17] rultor commented on #6
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7278-188505104) (took me 6min)

[2016-02-26 20:20] yegor256 opened #7 "show github message author"

[2016-02-26 20:24] yegor256 commented on #7
@rultor release, tag is `0.6`

[2016-02-26 20:24] #7 closed

[2016-02-26 20:25] rultor commented on #7
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7322-189468580)

[2016-02-26 20:33] rultor commented on #7
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7322-189468580) (took me 7min)

[2016-02-28 07:32] yegor256 opened #8 "show date in each Github message"

[2016-02-28 07:32] #8 closed

[2016-02-28 07:38] yegor256 commented on #8
@rultor release, tag is `0.7`

[2016-02-28 07:39] rultor commented on #8
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7346-189815025)

[2016-02-28 07:47] rultor commented on #8
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7346-189815025) (took me 7min)

[2016-03-02 04:07] yegor256 opened #9 "link comments, not just issues"

[2016-03-02 04:56] yegor256 commented on #9
@rultor release, tag is `0.8`

[2016-03-02 04:56] #9 closed

[2016-03-02 04:56] rultor commented on #9
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7412-191061300)

[2016-03-02 05:03] rultor commented on #9
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7412-191061300) (took me 6min)

[2016-03-03 00:34] yegor256 opened #10 "layout polishings"

[2016-03-04 18:25] yegor256 opened #11 "xembly set() fails"

[2016-03-04 21:00] yegor256 commented on #11
@rultor release, tag is `0.8.1`

[2016-03-04 21:00] #11 closed

[2016-03-04 21:01] rultor commented on #11
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7497-192465278)

[2016-03-04 21:05] rultor commented on #11
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7497-192465278) (took me 4min)

[2016-03-04 22:35] yegor256 commented on #11
@rultor release, tag is `0.8.2`

[2016-03-04 22:35] rultor commented on #11
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7497-192503582)

[2016-03-04 22:39] rultor commented on #11
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7497-192503582) (took me 4min)

[2016-03-05 00:06] yegor256 commented on #10
@rultor release, tag is `0.8.3`

[2016-03-05 00:06] #10 closed

[2016-03-05 00:06] rultor commented on #10
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7504-192531620)

[2016-03-05 00:09] rultor commented on #10
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7504-192531620) (took me 3min)

[2016-03-05 06:54] yegor256 opened #12 "NumberFormatException in AgGithub"
[code]

[2016-03-05 07:47] yegor256 commented on #12
@rultor release, tag is `0.8.4`

[2016-03-05 07:47] #12 closed

[2016-03-05 07:48] rultor commented on #12
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7513-192602670)

[2016-03-05 07:54] rultor commented on #12
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7513-192602670) (took me 5min)

[2016-03-05 11:27] yegor256 opened #13 "submit failures as new events"

[2016-03-05 11:35] yegor256 commented on #13
@rultor release, tag is `0.8.5`

[2016-03-05 11:36] rultor commented on #13
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7517-192624978)

[2016-03-05 11:39] rultor commented on #13
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7517-192624978) (took me 4min)

[2016-03-05 17:14] #13 closed

[2016-03-05 21:22] yegor256 opened #14 "marketing intro"

[2016-03-06 18:18] yegor256 opened #15 "down-vote"

[2016-03-06 19:41] yegor256 commented on #15
@rultor release, tag is `0.9`

[2016-03-06 19:41] #15 closed

[2016-03-06 19:42] rultor commented on #15
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7545-192971759)

[2016-03-06 19:49] rultor commented on #15
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7545-192971759) (took me 7min)

[2016-03-08 17:08] yegor256 opened #16 "google analytics"
let's add it

[2016-03-08 17:08] yegor256 commented on #16
@rultor release, tag is `0.10`

[2016-03-08 17:09] rultor commented on #16
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7571-193871920)

[2016-03-08 17:13] rultor commented on #16
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7571-193871920) (took me 4min)

[2016-03-08 17:13] #16 closed

[2016-03-14 21:36] yegor256 opened #17 "limit the list of events to 20"

[2016-03-15 01:20] yegor256 commented on #17
@rultor release, tag is `0.11`

[2016-03-15 01:20] #17 closed

[2016-03-15 01:21] rultor commented on #17
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7691-196597372)

[2016-03-15 01:27] rultor commented on #17
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7691-196597372) (took me 6min)

[2016-03-15 01:37] yegor256 opened #18 "visited links must be in a different color"

[2016-03-15 01:40] yegor256 commented on #18
@rultor release, tag is `0.12`

[2016-03-15 01:40] #18 closed

[2016-03-15 01:40] rultor commented on #18
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7692-196601486)

[2016-03-15 01:47] rultor commented on #18
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7692-196601486) (took me 6min)

[2016-03-15 22:12] yegor256 commented on #14
@rultor release, tag is `0.12.1`

[2016-03-15 22:12] #14 closed

[2016-03-15 22:13] rultor commented on #14
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7705-197048239)

[2016-03-15 22:20] rultor commented on #14
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7705-197048239) (took me 6min)

[2016-03-21 18:17] yegor256 opened #19 "better reporting of internal errors"

[2016-03-21 20:45] yegor256 commented on #19
@rultor release, tag is `0.12.2`

[2016-03-21 20:45] #19 closed

[2016-03-21 20:45] rultor commented on #19
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7804-199473178)

[2016-03-21 20:53] rultor commented on #19
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7804-199473178) (took me 8min)

[2016-03-21 23:59] yegor256 opened #20 "IllegalArgumentException: subject ignored"
[code]

[2016-03-22 01:39] yegor256 commented on #20
@rultor release, tag is `0.12.3`

[2016-03-22 01:39] rultor commented on #20
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7813-199575331)

[2016-03-22 01:45] rultor commented on #20
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7813-199575331) (took me 5min)

[2016-03-22 01:49] #20 closed

[2016-03-26 02:25] yegor256 opened #21 "bigger vertical space between events"
let's make it bigger

[2016-03-26 02:33] yegor256 commented on #21
@rultor release, tag is `0.12.4`

[2016-03-26 02:33] #21 closed

[2016-03-26 02:33] rultor commented on #21
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7862-201680575)

[2016-03-26 02:39] rultor commented on #21
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7862-201680575) (spent 6min)

[code]

[2016-05-16 14:52] amihaiemil opened #22 "Internal Application Error when adding empty Pipe"
If I try to add an empty Pipe, I get the following internal error:
[code]

[2016-05-16 17:34] amihaiemil opened #23 "No .gitattributes"
.gitattributes file missing

[2016-05-16 17:44] amihaiemil commented on #23
@yegor256 I created PR #24 for this issue,

[2016-05-17 06:42] amihaiemil commented on #22
An exception is thrown also if the JSON is not properly formater. I'll make a PR with a fix when I have time.

[2016-05-24 09:03] yegor256 opened #25 "boost"
Let's make it possible to boost certain events:

[code]

If the text specified is found an extra 5 points will be added to the event

[2016-05-24 09:23] yegor256 commented on #25
@rultor release, tag is `0.13`

[2016-05-24 09:23] #25 closed

[2016-05-24 09:24] rultor commented on #25
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8485-221213896)

[2016-05-24 09:29] rultor commented on #25
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8485-221213896) (took me 5min)

[2016-05-24 09:49] #23 closed

[2016-05-24 11:49] amihaiemil commented on #22
@yegor256 I created PR #26 for this issue.

[2016-05-25 08:01] yegor256 opened #27 "crash on jcabi-aspects"
let's fix

see https://github.com/jcabi/jcabi-dynamo/issues/77

[2016-05-25 10:35] yegor256 commented on #27
@rultor release, tag is `0.13.1`

[2016-05-25 10:35] rultor commented on #27
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8498-221535567)

[2016-05-25 10:40] rultor commented on #27
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8498-221535567) (took me 5min)

[2016-05-25 15:25] #27 closed

[2016-05-25 15:29] yegor256 opened #28 "BoostEvents doesn't see the title"
The title is not checked

[2016-05-25 15:34] yegor256 commented on #28
@rultor release, tag is `0.13.2`

[2016-05-25 15:42] rultor commented on #28
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8504-221614547)

[2016-05-25 15:50] rultor commented on #28
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8504-221614547) (took me 8min)

[2016-05-25 15:52] #28 closed

[2016-06-05 07:06] yegor256 opened #29 "credentials problem with jcabi-dynamo"
let's fix

[2016-06-06 06:42] yegor256 commented on #29
@rultor release, tag is `0.13.3`

[2016-06-06 06:43] rultor commented on #29
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8662-223879806)

[2016-06-06 06:51] rultor commented on #29
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8662-223879806) (took me 7min)

[2016-06-08 13:08] #29 closed

[2016-06-27 19:06] yegor256 opened #30 "boost doesn't work"
For some reason

[2016-06-27 19:06] #30 closed

[2016-06-27 19:38] yegor256 commented on #30
@rultor release, tag is `0.13.4`

[2016-06-27 19:38] rultor commented on #30
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8935-228851940)

[2016-06-27 19:45] rultor commented on #30
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8935-228851940) (took me 7min)

[2016-11-18 14:09] yegor256 opened #31 "show total amount of users at the moment"
Let's do it

[2016-11-18 14:09] #31 closed

[2016-11-18 16:04] yegor256 commented on #31
@rultor release, tag is `0.14`

[2016-11-18 16:04] rultor commented on #31
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9998-261568578)

[2016-11-18 16:10] rultor commented on #31
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/9998-261568578) (took me 6min)

[2017-01-13 08:42] yegor256 opened #32 "catch GitHub webhook events"

[2017-01-13 12:48] #32 closed

[2017-01-13 12:49] yegor256 commented on #32
will implement it in @0crat

[2017-01-13 12:49] 0crat commented on #32
I'm sorry, I didn't understand you.

[2017-03-10 19:33] yegor256 opened #33 "Illegal group reference in XePrint"
[code]

[2017-03-12 19:38] yegor256 commented on #33
@rultor release, tag is `0.14.1`

[2017-03-12 19:38] rultor commented on #33
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11148-285969614)

[2017-03-12 19:41] rultor commented on #33
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11148-285969614) (took me 3min)

[2017-03-12 19:41] #33 closed

[2017-05-25 09:31] extsoft opened #34 ""failed to parse JSON" error"
I registered my own pipe and have the following messages in my inbox:
[code]

[2017-05-25 09:31] 0crat commented on #34
@yegor256 please, pay attention to this issue

[2017-05-29 21:03] yegor256 commented on #34
@extsoft can you please make a screenshot? I can't understand where exactly you see this

[2017-05-30 19:36] extsoft commented on #34
@yegor256 Main page - http://www.wring.io.
![capto_capture 2017-05-30_22-26-26_](https://cloud.githubusercontent.com/assets/5806627/26601434/714598ae-4588-11e7-857a-154fa379451d.png)

[2017-06-07 09:00] yegor256 commented on #34
@rultor release, tag is `0.14.2`

[2017-06-07 09:01] rultor commented on #34
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11903-306734772)

[2017-06-07 09:04] rultor commented on #34
@extsoft @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11903-306734772) (spent 3min)

[code]

[2017-06-07 11:29] yegor256 commented on #34
@rultor release, tag is `0.14.2`

[2017-06-07 11:30] rultor commented on #34
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11903-306767431)

[2017-06-07 11:34] rultor commented on #34
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11903-306767431) (took me 4min)

[2017-06-07 11:35] yegor256 commented on #34
@extsoft please, try again. You most probably will see an error, but a different one.

[2017-06-08 07:41] yegor256 opened #35 "show memory usage"

[2017-06-08 09:15] yegor256 commented on #35
@rultor release, tag is `0.14.3`

[2017-06-08 09:15] rultor commented on #35
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11915-307046932)

[2017-06-08 09:21] rultor commented on #35
Release `0.14.3` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2017-06-08 09:21] rultor commented on #35
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11915-307046932) (took me 4min)

[2017-06-08 09:56] #35 closed

[2017-06-08 09:56] 0crat commented on #35
Oops! Job `gh:yegor256/wring#35` was not in scope

[2017-07-19 10:13] yegor256 opened #36 "sentry.io for exceptions"
Let's use sentry.io for exception catching and monitoring.

[2017-07-19 14:41] yegor256 commented on #36
works perfectly

[2017-07-19 14:41] #36 closed

[2017-07-19 14:42] 0crat commented on #36
Oops! Job `gh:yegor256/wring#36` was not in scope

[2017-07-19 14:49] yegor256 opened #37 "IllegalArgumentException: Event with title "Internal error (java.lang.NullPointerException): null by 1.0-SNAPSHOT" not found"
[code]

[2017-07-19 15:23] yegor256 commented on #37
fixed

[2017-07-19 15:23] #37 closed

[2017-07-19 15:23] 0crat commented on #37
Oops! Job `gh:yegor256/wring#37` was not in scope

[2017-07-19 15:27] yegor256 opened #38 "NPE in Exec"
[code]

[2017-07-19 15:54] yegor256 commented on #38
fixed

[2017-07-19 15:54] #38 closed

[2017-07-19 15:54] 0crat commented on #38
Oops! Job `gh:yegor256/wring#38` was not in scope

[2017-07-19 15:54] yegor256 opened #39 "NPE in JsonAgent"
[code]

[2017-07-19 16:52] yegor256 commented on #39
@rultor release, tag is `0.15`

[2017-07-19 16:53] rultor commented on #39
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12411-316448857)

[2017-07-19 16:58] rultor commented on #39
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12411-316448857) (took me 5min)

[2017-07-19 17:09] #39 closed

[2017-07-19 17:10] 0crat commented on #39
Oops! Job `gh:yegor256/wring#39` was not in scope

[2017-07-20 07:20] yegor256 opened #40 "total number of items in the inbox"
Let's show the total number of items in the inbox

[2017-07-20 07:24] yegor256 commented on #40
@rultor release, tag is `0.16`

[2017-07-20 07:25] rultor commented on #40
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12415-316619918)

[2017-07-20 07:30] rultor commented on #40
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12415-316619918) (took me 4min)

[2017-07-20 07:31] #40 closed

[2017-07-20 07:31] 0crat commented on #40
Oops! Job `gh:yegor256/wring#40` was not in scope

[2017-08-02 08:14] extsoft commented on #34
@yegor256 I looked for Wring's behavior for a while. There are 0 messages in the inbox. Look's like Wring doesn't show or retrieve notifications. How are we able to determine root cause?

[2017-08-02 08:20] yegor256 commented on #34
@extsoft just nothing? Not even error messages?

[2017-08-02 08:25] extsoft commented on #34
@yegor256 Yes, just nothing.

[2017-08-02 08:34] yegor256 commented on #34
@extsoft what is your GitHub user id? It's a number.

[2017-08-02 09:02] extsoft commented on #34
@yegor256 `5806627` from [https://caius.github.io/github_id/#extsoft]()

[2017-08-04 07:27] yegor256 commented on #34
@extsoft are you sure you registered a pipe? I don't see any errors in the log. It seems that the server is just not doing anything with your account.

[2017-08-04 09:24] extsoft commented on #34
@yegor256 Yes, I have the pipe #1501659400232

[2017-08-04 12:57] yegor256 opened #41 "show recent connection status for each pipe"
Let's show the last connection status for each pipe, for traceability.

[2017-08-04 12:57] yegor256 commented on #34
@extsoft I will implement additional tracking/logging feature in #41 and we'll see

[2017-08-06 08:59] yegor256 commented on #34
@extsoft also, please check that your "web notifications" are turned on in GitHub:

<img width="1003" alt="screen shot 2017-08-06 at 11 59 03 am" src="https://user-images.githubusercontent.com/526301/29001917-b614ce82-7a9e-11e7-8d2a-7f391af68186.png">

[2017-08-06 09:01] extsoft commented on #34
@yegor256 they are on.
<img width="1043" alt="screen shot 2017-08-06 at 12 00 50" src="https://user-images.githubusercontent.com/5806627/29001928-f92d2bba-7a9e-11e7-82b0-44143d835bbd.png">

[2017-08-06 09:25] yegor256 commented on #34
@extsoft try your "pipes" page now. You should see the status line next to the pipe number. What does it say?

[2017-08-06 09:35] yegor256 commented on #41
@rultor release, tag is `0.17`

[2017-08-06 09:35] #41 closed

[2017-08-06 09:35] 0crat commented on #41
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-06 09:35] rultor commented on #41
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12605-320496079)

[2017-08-06 09:40] rultor commented on #41
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12605-320496079) (took me 4min)

[2017-08-07 10:03] extsoft commented on #34
@yegor256 My notifications:
<img width="1018" alt="screen shot 2017-08-07 at 12 58 37" src="https://user-images.githubusercontent.com/5806627/29022065-76e24348-7b70-11e7-92e9-5a4e64845eb0.png">
Pipe status:
<img width="601" alt="screen shot 2017-08-07 at 12 59 56" src="https://user-images.githubusercontent.com/5806627/29022073-7c990344-7b70-11e7-8927-4d34777d7609.png">
**Inbox is empty.**

And loo

[2017-08-07 14:43] yegor256 commented on #34
@extsoft maybe wring just filters everything out? Can you show me your pipe JSON config? Remove the authentication code.

[2017-08-07 19:08] extsoft commented on #34
@yegor256 `{"class": "io.wring.agents.github.AgGithub","token": "xxxxxxxxxx"}`

[2017-08-08 05:24] yegor256 commented on #34
@extsoft can you please make a screenshot of your inbox?

[2017-08-08 08:52] extsoft commented on #34
@yegor256
<img width="985" alt="screen shot 2017-08-08 at 11 51 51" src="https://user-images.githubusercontent.com/5806627/29063941-12dbd506-7c30-11e7-9c28-b02dddfcc946.png">

[2017-08-08 11:03] yegor256 commented on #34
@extsoft it's a mistery :)

[2017-08-15 08:52] extsoft commented on #34
@yegor256, any ideas how we can find a root cause?
The use case I saw:
- have a new notification
- open `pipes` and see `1 event for ...`
- open `inbox` and see zero messages
- back to `pipes` and see `0 events for ...`
May this will help.

[2017-08-21 12:19] yegor256 commented on #34
@extsoft let me investigate. It's a damn mystery, but we have to solve it :)

[2017-08-24 06:26] yegor256 commented on #34
@rultor release, tag is `0.17.1`

[2017-08-24 06:26] yegor256 commented on #34
@extsoft what do you see now?

[2017-08-24 06:27] rultor commented on #34
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11903-324545266)

[2017-08-24 06:31] rultor commented on #34
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11903-324545266) (took me 4min)

[2017-08-24 06:34] yegor256 commented on #34
@rultor release, tag is `0.17.2`

[2017-08-24 06:35] rultor commented on #34
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11903-324546644)

[2017-08-24 06:39] rultor commented on #34
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11903-324546644) (took me 4min)

[2017-08-25 04:59] yegor256 opened #42 "AssertionError: HTTP response status is not equal to 200:"
https://sentry.io/zerocracy/wring/issues/334675232/

[code]

[2017-08-25 04:59] 0crat commented on #42
Job `gh:yegor256/wring#42` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-25 04:59] 0crat commented on #42
+15 points just awarded to @yegor256, total is [+2310](http://www.0crat.com/u/yegor256).

[2017-08-25 12:55] extsoft commented on #34
@yegor256 I see 4 messages in the inbox. Wring works! But let I take a look for a while.

[2017-08-25 15:54] yegor256 commented on #34
@extsoft it was a bug, thanks for reporting it! You can close this ticket and open a new one if you see any more bugs.

[2017-08-28 07:53] extsoft commented on #34
@yegor256 thank you for fixing the bug.

[2017-08-28 07:54] #34 closed

[2017-08-28 07:54] 0crat commented on #34
Oops! Job `gh:yegor256/wring#34` was not in scope

[2017-08-29 10:47] extsoft opened #43 "Pull request review notification"
A contributor creates a pull request and assigns me as a reviewer - Wring doesn't manage this notification. Is it possible to manage this type of notification with Wring?

[2017-08-29 10:47] 0crat commented on #43
@yegor256 please, pay attention to this issue

[2017-08-30 08:05] yegor256 commented on #43
@extsoft we're not doing that at the moment, since these notifications are possible to get from GitHub only through their webhooks. Simply put, you will have to register a webhook in all repositories where you want to get notifications from. I initially thought that this may be inconvenient for people. But I can implement that, it's not so difficult. What do you think? Will it make sense?

[2017-08-30 11:26] extsoft commented on #43
@yegor256 As I want to manage all my Github alerts with the Wring, I would like to have all notifications here. If I have to configure webhook for each repo, okay, will do.

[2017-08-30 14:35] yegor256 commented on #43
@extsoft OK, let me implement this. But keep in mind that you will receive events ONLY from the repositories where webhooks are configured.

[2017-08-30 15:25] extsoft commented on #43
@yegor256 please don't forget to update docs.

[2017-10-06 08:24] yegor256 opened #44 "concurrency issue"

[2017-10-06 08:24] yegor256 commented on #44
@rultor release, tag is `0.17.3`

[2017-10-06 08:26] rultor commented on #44
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13086-334691370)

[2017-10-06 08:30] rultor commented on #44
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13086-334691370) (took me 4min)

[2017-10-06 12:37] yegor256 commented on #44
@rultor release, tag is `0.17.4`

[2017-10-06 12:38] rultor commented on #44
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13086-334742630)

[2017-10-06 12:41] rultor commented on #44
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13086-334742630) (took me 3min)

[2017-10-06 13:14] #44 closed

[2017-10-06 13:15] 0crat commented on #44
Oops! Job `gh:yegor256/wring#44` was not in scope

[2017-11-14 14:35] 0crat commented on #42
@yegor256 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 14:36] 0crat commented on #42
@yegor256 resigned from `gh:yegor256/wring#42`, please stop working.

[2017-11-14 14:36] 0crat commented on #42
Oops! Job `gh:yegor256/wring#42` is not assigned to anyone.

[2017-12-06 18:16] php-coder opened #45 "Broken link to a badge on the index page"
On the index page (http://www.wring.io/) I see a broken image. The badge has a link to http://www.zerocracy.com/badge.svg that leads to 404

[2018-01-25 17:59] g4s8 opened #46 "HTTPS is not supported"
Encryption is critical for this kind of applications which use API tokens and can receive notifications from private repositories on Github. Without it any script kiddie connected to your wifi will be able to get access to your Github account via API or read your messages.

[2018-01-25 23:55] filfreire commented on #45
@yegor256 this issue is still valid. It seems the commit that could solve this, https://github.com/yegor256/wring/commit/89fc1a24b3817f8b6392bd6db032cf5f8123d588, was never tagged for release and deployed.

[2018-01-29 20:38] yegor256 commented on #45
@rultor release, tag is `0.17.5`

[2018-01-29 20:40] rultor commented on #45
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13785-361378379)

[2018-01-29 20:44] rultor commented on #45
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13785-361378379) (took me 4min)

[2018-03-09 11:52] yegor256 opened #47 "UncheckedIOException: io.wring.agents.Agent$UserException: Element 'boost' must be an array"
https://sentry.io/zerocracy/wring/issues/363038806/

[code]

[2018-03-09 11:53] yegor256 commented on #47
Full:

[code]

[2018-03-09 12:00] yegor256 commented on #47
@rultor release, tag is `0.17.6`

[2018-03-09 12:02] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14093-371794256)

[2018-03-09 12:06] rultor commented on #47
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14093-371794256) (took me 4min)

[2018-03-09 12:07] #47 closed

[2018-03-09 12:11] 0crat commented on #46
The job [#46](https://github.com/yegor256/wring/issues/46) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C7FCB1EQN/681214684). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, re

[2018-03-09 12:11] 0crat commented on #46
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-09 12:11] 0crat commented on #46
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-09 12:22] 0crat commented on #47
The job is not in WBS, won't close the order

[2018-03-09 13:12] yegor256 commented on #46
@g4s8 I believe it's fixed. The DNS will update in about a day and the warning will disappear.

[2018-03-09 13:12] #46 closed

[2018-03-09 13:13] yegor256 commented on #46
@rultor release, tag is `0.18`

[2018-03-09 13:13] rultor commented on #46
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14095-371808632)

[2018-03-09 13:18] rultor commented on #46
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14095-371808632) (took me 5min)

[2018-03-09 13:22] g4s8 commented on #46
@yegor256 thanks!

[2018-03-09 13:28] 0crat commented on #46
Order was finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-09 13:28] 0crat commented on #46
The job [#46](https://github.com/yegor256/wring/issues/46) is now out of scope

[2018-03-09 15:30] yegor256 opened #48 "too many threads"
Too many threads open

[2018-03-09 17:12] #48 closed

[2018-03-09 17:28] 0crat commented on #48
The job is not in WBS, won't close the order

[2018-03-10 05:04] yegor256 commented on #48
@rultor release, tag is `0.18.1`

[2018-03-10 05:05] rultor commented on #48
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14105-372003400)

[2018-03-10 05:10] rultor commented on #48
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14105-372003400) (took me 4min)

[2018-03-10 08:10] g4s8 opened #49 "Unable to login"
When I click login link, it redirects me on the same page, but with error in url parameters:
```https://www.wring.io/?error=redirect_uri_mismatch&error_description=The+redirect_uri+MUST+match+the+registered+callback+URL+for+this+application.&error_uri=https%3A%2F%2Fdeveloper.github.com%2Fapps%2Fmanaging-oauth-apps%2Ftroubleshooting-authorization-request-errors%2F%23redirect-uri-mismatch```

[2018-03-10 08:10] 0crat commented on #49
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-13 15:35] yegor256 opened #50 "validate hash on delete"
Let's validate

[2018-03-13 15:36] yegor256 commented on #49
@g4s8 fixed, thanks

[2018-03-13 15:36] #49 closed

[2018-03-13 15:36] #45 closed

[2018-03-13 16:44] g4s8 opened #51 "500 error on delete"
I've got an error when delete notification in inbox:
[code]

[2018-03-13 16:52] yegor256 commented on #50
@rultor release, tag is `0.19`

[2018-03-13 16:53] rultor commented on #50
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14128-372737285)

[2018-03-13 16:57] rultor commented on #50
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14128-372737285) (took me 3min)

[2018-03-13 18:46] #50 closed

[2018-03-14 16:06] 0crat commented on #51
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-14 16:09] 0crat commented on #49
The job is not in WBS, won't close the order

[2018-03-14 16:14] 0crat commented on #45
The job is not in WBS, won't close the order

[2018-03-14 22:06] yegor256 commented on #51
@g4s8 was it just once? Was the event deleted? Can you reproduce it again?

[2018-03-15 08:47] g4s8 commented on #51
@yegor256 it was just once, event was not deleted, I'll comment here if it reproduced again.

[2018-03-15 08:57] g4s8 opened #52 "javax.json.stream.JsonParsingException for valid regex"
I'm trying to add some ignore rules with regex, according to [blog post](http://www.yegor256.com/2016/03/15/wring-dispatcher-github-notifications.html) I've wrapped it in `/` chars:
[code]
it was accepted as a new pipe, but now I'm receiving errors in my inbox instead of events:
[code]

[2018-03-15 09:58] 0crat commented on #52
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-16 06:04] yegor256 commented on #51
@g4s8 I believe it was a temporary problem between deployments. Should not happen again.

[2018-03-16 06:04] #51 closed

[2018-03-16 06:15] yegor256 commented on #52
@g4s8 weird... can you please post full stacktrace from your inbox?

[2018-03-16 06:19] yegor256 opened #53 "NullPointerException"
https://sentry.io/zerocracy/wring-bx/issues/493024338/

[code]

[2018-03-16 06:20] 0crat commented on #51
The job is not in WBS, won't close the order

[2018-03-16 06:27] yegor256 opened #54 "NullPointerException"
https://sentry.io/zerocracy/wring-bx/issues/493024339/

[code]

[2018-03-16 09:07] #53 closed

[2018-03-16 09:22] 0crat commented on #53
The job is not in WBS, won't close the order

[2018-03-16 11:06] g4s8 commented on #52
@yegor256 updated stakctrace https://github.com/yegor256/wring/issues/52#issue-305463828

[2018-03-16 15:29] #54 closed

[2018-03-16 15:44] 0crat commented on #54
The job is not in WBS, won't close the order

[2018-03-16 16:08] yegor256 commented on #52
@g4s8 I believe it's reproduced and fixed in de7e049

[2018-03-16 16:09] yegor256 commented on #52
@rultor release, tag is `0.19.1`

[2018-03-16 16:10] rultor commented on #52
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14143-373762966)

[2018-03-16 16:13] #42 closed

[2018-03-16 16:14] yegor256 commented on #42
don't see it anymore

[2018-03-16 16:14] rultor commented on #52
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14143-373762966) (took me 4min)

[2018-03-16 16:29] 0crat commented on #42
The job is not in WBS, won't close the order

[2018-03-16 16:46] g4s8 commented on #52
@yegor256 thanks

[2018-03-16 16:46] #52 closed

[2018-03-16 17:01] 0crat commented on #52
The job is not in WBS, won't close the order

[2018-03-20 09:26] yegor256 opened #55 "small layout fixes needed"
Let's make them

[2018-03-20 09:35] yegor256 commented on #55
@rultor release, tag is `0.19.2`

[2018-03-20 09:35] #55 closed

[2018-03-20 09:36] rultor commented on #55
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14161-374532105)

[2018-03-20 09:41] rultor commented on #55
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14161-374532105) (took me 4min)

[2018-03-20 09:50] 0crat commented on #55
The job is not in WBS, won't close the order

[2018-03-24 20:35] 0crat commented on #42
The job [#42](https://github.com/yegor256/wring/issues/42) is now out of scope

[2018-04-01 05:22] yegor256 opened #56 "takes 1.11.2"
Let's upgrade

[2018-04-01 05:24] rultor commented on #56
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14220-377755315)

[2018-04-01 05:28] rultor commented on #56
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14220-377755315) (took me 4min)

[2018-04-01 05:39] 0crat commented on #56
The job is not in WBS, won't close the order

[2018-04-01 06:39] 0crat commented on #56
The job is not in WBS, won't close the order

[2018-04-04 16:45] yegor256 opened #57 "all threads are dead"
I see this in production:

[code]

Then, I have to restart the server in order to let the threads be active again. Looks like we're running out of them after some time (2-5 days).

[2018-04-04 16:47] 0crat commented on #57
Job [#57](https://github.com/yegor256/wring/issues/57) is now in scope, role is `DEV`

[2018-04-04 16:48] 0crat commented on #57
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-05 14:15] g4s8 opened #58 "Logic of priority system is not clear"
I can't understand how wring sort the inbox, I expected to see new notifications on top, but some old events got higher priority. Here is my inbox now:
[code]
Also when I delete some event, all other can change the order.

[2018-04-05 14:15] 0crat commented on #58
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-05 14:15] 0crat commented on #58
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7FCB1EQN) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-12 03:36] 0crat commented on #57
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-12 15:36] 0crat commented on #58
Job [#58](https://github.com/yegor256/wring/issues/58) is now in scope, role is `DEV`

[2018-04-12 15:37] 0crat commented on #58
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-12 16:36] 0crat commented on #58
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-17 04:36] 0crat commented on #57
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-17 18:35] 0crat commented on #58
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-18 15:28] yegor256 commented on #57
@rultor release, tag is `0.19.4`

[2018-04-18 15:31] rultor commented on #57
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14328-382427835)

[2018-04-18 15:37] rultor commented on #57
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14328-382427835) (took me 6min)

[2018-04-18 17:09] #57 closed

[2018-04-18 17:24] 0crat commented on #57
The job [#57](https://github.com/yegor256/wring/issues/57) is now out of scope

[2018-04-19 11:50] yegor256 opened #59 "too many threads"
We get out of memory for too many native threads...

[2018-04-19 12:31] yegor256 commented on #59
@rultor release, tag is `0.19.5`

[2018-04-19 12:33] rultor commented on #59
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14333-382715924)

[2018-04-19 12:40] rultor commented on #59
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14333-382715924) (took me 6min)

[2018-04-19 17:40] #59 closed

[2018-04-19 17:56] 0crat commented on #59
The job is not in WBS, won't close the order

[2018-04-22 11:47] yegor256 commented on #59
@rultor release, tag is `0.19.6`

[2018-04-22 11:49] rultor commented on #59
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14333-383375685)

[2018-04-22 11:54] rultor commented on #59
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14333-383375685) (took me 6min)

[2018-04-22 19:36] 0crat commented on #58
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-23 05:23] yegor256 opened #60 "still too many threads"
Too many threads

[2018-04-24 06:06] yegor256 commented on #60
@rultor release, tag is `0.19.7`

[2018-04-24 06:08] rultor commented on #60
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14362-383814184)

[2018-04-24 06:14] rultor commented on #60
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14362-383814184) (took me 6min)

[2018-04-24 06:30] #60 closed

[2018-04-24 06:46] 0crat commented on #60
The job is not in WBS, won't close the order

[2018-04-27 20:36] 0crat commented on #58
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-04-28 19:36] yegor256 opened #61 "threads are not deleted correctly in Routine"
[code]

[2018-04-29 04:52] yegor256 commented on #61
@rultor release, tag is `0.19.8`

[2018-04-29 04:53] rultor commented on #61
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14395-385225824)

[2018-04-29 04:59] rultor commented on #61
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14395-385225824) (took me 6min)

[2018-04-29 05:01] #61 closed

[2018-05-01 05:03] yegor256 opened #62 "still pending threads"

[2018-05-02 22:36] 0crat commented on #58
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-03 08:14] yegor256 commented on #62
@rultor release, tag is `0.19.9`

[2018-05-03 08:15] #62 closed

[2018-05-03 08:16] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14429-386221466)

[2018-05-03 08:31] 0crat commented on #62
The job is not in WBS, won't close the order

[2018-05-07 23:36] 0crat commented on #58
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-13 01:38] 0crat commented on #58
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-14 13:37] yegor256 commented on #58
@0crat out

[2018-05-14 13:40] 0crat commented on #58
@yegor256 The job [#58](https://github.com/yegor256/wring/issues/58) is now out of scope

[2018-06-25 12:08] yegor256 opened #63 "too many threads"
This is a very annoying problem, happening every 3-5 days. I have to restart a server:

[code]

[2018-06-25 12:09] 0crat commented on #63
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-06-25 21:37] carlosmiranda commented on #63
@0crat in

[2018-06-25 21:37] 0crat commented on #63
@carlosmiranda Job [#63](https://github.com/yegor256/wring/issues/63) is now in scope, role is `DEV`

[2018-06-25 21:37] 0crat commented on #63
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-25 22:36] 0crat commented on #63
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#63](https://github.com/yegor256/wring/issues/63); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-06-30 23:37] 0crat commented on #63
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#63](https://github.com/yegor256/wring/issues/63); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-07-06 00:39] 0crat commented on #63
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#63](https://github.com/yegor256/wring/issues/63); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-07-11 01:37] 0crat commented on #63
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#63](https://github.com/yegor256/wring/issues/63); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-07-16 12:38] 0crat commented on #63
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#63](https://github.com/yegor256/wring/issues/63); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-07-21 13:38] 0crat commented on #63
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#63](https://github.com/yegor256/wring/issues/63); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-07-26 14:39] 0crat commented on #63
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#63](https://github.com/yegor256/wring/issues/63); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-07-31 15:39] 0crat commented on #63
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#63](https://github.com/yegor256/wring/issues/63); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-08-04 06:32] peter-kehl opened #64 "wring.io doesn't load up in Firefox"
Accessing https://www.wring.io/ in Firefox 61.0.1 x32 on openSUSE x64 (this combination works well for other websites).  The page loads some artifacts and then hangs:

![image](https://user-images.githubusercontent.com/4270240/43673306-8dc7136e-9775-11e8-93a0-ff977623ab45.png)

It works in Chrome on the same machine.

[2018-08-04 06:32] 0crat commented on #64
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-08-04 06:32] 0crat commented on #64
@peter-kehl[/z](https://www.0crat.com/u/peter-kehl) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7FCB1EQN) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-04 15:33] peter-kehl commented on #64
@carlosmiranda  Ignore for now. That is because of my Firefox version. I'll follow up.

[2018-08-04 19:36] peter-kehl commented on #64
Closing this ticket: not caused by Wring.

FYI The problem was caused by a Firefox Extension from https://www.i-dont-care-about-cookies.eu. It also halts www.rultor.com. The extension doesn't have a support/ticket system, hence I emailed the author.

[2018-08-04 19:36] #64 closed

[2018-08-04 19:36] 0crat commented on #64
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.29.3](https://github.com/zerocracy/farm): Issue: yegor256/wring#64, Action: `closed`

[2018-08-05 16:38] 0crat commented on #63
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#63](https://github.com/yegor256/wring/issues/63); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-08-13 01:28] peter-kehl opened #65 "Removing all pending notifications"
After adding a new pipe at www.wring.io, it seems to clear all pending notifications. That is not mentioned at https://www.wring.io/pipes nor at http://www.yegor256.com/2016/03/15/wring-dispatcher-github-notifications.html. Very user unfriendly.

I set up a pipe that I expected only to remove notifications matching `ignore` value. But all notifications disappeared.
[code]

Either document it, or b

[2018-08-13 01:28] 0crat commented on #65
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-08-13 01:28] 0crat commented on #65
@peter-kehl[/z](https://www.0crat.com/u/peter-kehl) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7FCB1EQN) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-13 03:38] 0crat commented on #65
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#65](https://github.com/yegor256/wring/issues/65); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-08-18 04:40] 0crat commented on #65
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#65](https://github.com/yegor256/wring/issues/65); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-08-23 05:39] 0crat commented on #65
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#65](https://github.com/yegor256/wring/issues/65); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-08-24 06:32] 0crat commented on #65
The job [#65](https://github.com/yegor256/wring/issues/65) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C7FCB1EQN/2360631321); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-08-24 14:03] paulodamaso commented on #65
@peter-kehl @carlosmiranda What about setting an date for `IgnoreEvents` and make it just work on events after this date?

[2018-08-24 21:46] carlosmiranda commented on #65
@paulodamaso my understanding is @peter-kehl wants to NOT clear notifications that were pending before setting up the pipe. What's happening is it's only processing motifs created after.

There might be a Github API limitation that's causing this, I'm not sure at the moment. Whatever the case let's either fix it or document the limitation.

[2018-08-24 22:13] peter-kehl commented on #65
Hi Carlos and Paulo,

Confirming Carlos' understanding: NOT to clear notifications that were pending before setting up the pipe.

[2018-08-25 02:36] paulodamaso commented on #65
@carlosmiranda @peter-kehl What I've found so far:
Github Agent `AgGithub` clears all notifications from Github after pushing them to database; it calls https://developer.github.com/v3/activity/notifications/#mark-notifications-as-read-in-a-repository , efectivelly marking all older notifications as `read`.  What we could do is to use https://developer.github.com/v3/activity/notifications/#list-yo

[2018-08-25 03:09] peter-kehl commented on #65
@carlosmiranda and @paulodamaso, up to you to discuss/choose whether to have the change (how big could it be?), or to document the current behavior.

[2018-08-26 05:53] carlosmiranda commented on #65
@paulodamaso sounds like a viable way to fix it, lets do it.

[2018-08-28 02:50] paulodamaso commented on #65
@carlosmiranda I misunderstood the docs. We can't set notifications read one by one using the API, so I'm afraid that's impossible to do what @peter-kehl wants. I've added a line explaining this.

[2018-08-29 00:49] paulodamaso commented on #65
@peter-kehl Merged, please close.

[2018-08-29 00:53] paulodamaso commented on #63
@0crat status

[2018-08-29 01:12] #65 closed

[2018-08-29 01:18] paulodamaso commented on #65
@0crat status

[2018-08-29 01:35] 0crat commented on #63
@paulodamaso This is what I know about this job in [C7FCB1EQN](https://www.0crat.com/p/C7FCB1EQN), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#63](https://github.com/yegor256/wring/issues/63) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [4hr](http:/

[2018-08-29 01:49] 0crat commented on #65
@paulodamaso This is what I know about this job in [C7FCB1EQN](https://www.0crat.com/p/C7FCB1EQN), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#65](https://github.com/yegor256/wring/issues/65) is [in scope](http://www.zerocracy.com/policy.html#14) for 16days
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [5days](ht

[2018-08-29 01:52] paulodamaso commented on #65
@0crat out

[2018-08-29 02:00] 0crat commented on #65
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-29 02:00] 0crat commented on #65
The job [#65](https://github.com/yegor256/wring/issues/65) is now out of scope

[2018-08-29 02:00] 0crat commented on #65
@paulodamaso Job `gh:yegor256/wring#65` is not assigned, can't get performer

[2018-08-29 02:00] 0crat commented on #65
@paulodamaso The job is not in WBS, won't close the order

[2018-08-29 06:40] ypshenychka commented on #65
@0crat quality good

[2018-08-29 10:56] alex-semenyuk opened #67 "Problem with encoding"
Got the following errors on test running:

`java.lang.IllegalStateException: Default encoding is windows-1251`

for TkAppTest.rendersAllPossibleUrls, TkAppTest.rendersHomePage, TkAppTest.rendersHomePageViaHttp tests

Encoding can be set explicitly set here

[code]

[2018-08-29 10:56] 0crat commented on #67
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-08-29 10:56] 0crat commented on #67
@alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7FCB1EQN) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-30 17:40] paulodamaso commented on #63
@carlosmiranda @yegor256 Looks like we have a lot of interrupted threads that aren't being cleared and the ones that are not interrupted are waiting. So we could clear / destroy these interrupted ones periodically, WDYT? I've noticed a strange thing too, maybe a bug: why we pass the thread number value to `Routine` when we check the thread number against a fixed value (`64`)?

[2018-08-30 23:59] carlosmiranda commented on #63
@paulodamaso aha, that's probably a bug. I am not sure checking `getAllStackTraces()` is an accurate way to get a count of active threads either.

Aside from your suggestions, perhaps we shouldn't be micro managing the `ExecutorService` so much. It's supposed to take care of managing threads for us.

[2018-08-31 00:49] paulodamaso commented on #63
@carlosmiranda So, if I understood correctly, the problem will stop once we remove this check and let `ExecutorService` on its own, right?

[2018-08-31 00:58] carlosmiranda commented on #63
@paulodamaso yes, but at the same time let's also check if any threads/tasks are interrupted and get stuck. Otherwise the task queue will be really long and we will encounter similar problems.

[2018-09-01 00:53] paulodamaso commented on #63
@yegor256 Merged, please close

[2018-09-02 21:39] 0crat commented on #63
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-02 23:17] paulodamaso commented on #63
@yegor256 ping

[2018-09-03 06:08] 0crat commented on #67
Job [#67](https://github.com/yegor256/wring/issues/67) is now in scope, role is `DEV`

[2018-09-03 06:09] 0crat commented on #67
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk)

[2018-09-03 08:09] yegor256 commented on #63
@paulodamaso thanks!

[2018-09-03 08:09] yegor256 commented on #63
@rultor release, tag is `0.19.10`

[2018-09-03 08:13] rultor commented on #63
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15850-418035937)

[2018-09-03 17:52] paulodamaso commented on #63
@yegor256 great, now could you close it?

[2018-09-04 12:47] paulodamaso commented on #63
@0crat wait for issue closure

[2018-09-04 12:48] 0crat commented on #63
@paulodamaso The impediment for [#63](https://github.com/yegor256/wring/issues/63) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-04 15:49] 0crat commented on #67
The job [#67](https://github.com/yegor256/wring/issues/67) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C7FCB1EQN/2471542852); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-09-04 16:33] paulodamaso commented on #63
@yegor256 please take a look to it, just waiting for your ok

[2018-09-05 00:36] paulodamaso commented on #67
@alex-semenyuk merged, please close

[2018-09-05 07:07] #67 closed

[2018-09-05 10:13] ypshenychka commented on #67
@0crat quality good

[2018-09-05 10:27] 0crat commented on #67
Order was finished, quality is "good": +40 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-05 10:27] 0crat commented on #67
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-11 19:26] paulodamaso commented on #63
@yegor256 ping

[2018-09-13 01:30] paulodamaso commented on #63
@yegor256 please close

[2018-09-17 12:50] paulodamaso commented on #63
@yegor256 please take a look, It has been merged for more than two weeks ago and I didn't received my payment yet

[2018-09-18 04:27] yegor256 commented on #63
@paulodamaso thanks!

[2018-09-18 04:27] #63 closed

[2018-09-18 04:45] 0crat commented on #63
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-18 04:45] 0crat commented on #63
The job [#63](https://github.com/yegor256/wring/issues/63) is now out of scope

[2018-09-18 06:30] ypshenychka commented on #63
@0crat quality good

[2018-09-18 06:32] 0crat commented on #63
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-18 06:32] 0crat commented on #63
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-18 07:10] yegor256 opened #70 "simple API"
Let's make some stats visible via a simple API.

[2018-09-18 07:10] 0crat commented on #70
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-09-18 07:12] 0crat commented on #70
The job [#70](https://github.com/yegor256/wring/issues/70) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C7FCB1EQN/2610722759); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-09-18 07:12] 0crat commented on #70
Job `gh:yegor256/wring#70` already assigned to @yegor256, can't assign to @yegor256

[2018-09-18 07:12] 0crat commented on #70
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-09-18 07:12] 0crat commented on #70
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-09-18 07:12] 0crat commented on #70
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-09-18 09:08] #70 closed

[2018-09-20 07:51] yegor256 opened #71 "java.util.concurrent.TimeoutException in Routine.call()"
[code]

[2018-09-20 07:51] 0crat commented on #71
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-09-20 23:30] 0crat commented on #71
Job [#71](https://github.com/yegor256/wring/issues/71) is now in scope, role is `DEV`

[2018-09-20 23:31] 0crat commented on #71
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-09-21 00:49] 0crat commented on #71
Job [#71](https://github.com/yegor256/wring/issues/71) is already in scope

[2018-10-15 11:59] yegor256 opened #72 "404 Not Found comment"
I keep getting this 10-50 times a day in the log:

[code]

[2018-10-15 11:59] 0crat commented on #72
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-10-16 02:42] 0crat commented on #72
Job [#72](https://github.com/yegor256/wring/issues/72) is now in scope, role is `DEV`

[2018-10-16 03:19] 0crat commented on #72
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-16 04:46] 0crat commented on #71
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-16 06:11] 0crat commented on #72
The job [#72](https://github.com/yegor256/wring/issues/72) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C7FCB1EQN/2890557112); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-10-16 18:05] paulodamaso commented on #71
@0crat refuse

[2018-10-16 19:01] 0crat commented on #71
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#71](https://github.com/yegor256/wring/issues/71), please stop working. Reason for job resignation: Order was cancelled

[2018-10-16 19:15] 0crat commented on #71
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#71](https://github.com/yegor256/wring/issues/71); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-10-16 19:36] 0crat commented on #71
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-19 14:32] paulodamaso commented on #72
@g4s8 Would you please check if wring have access to `Harvest-foundation/core` repository? Looks like a permission problem to me.

[2018-10-19 14:47] g4s8 commented on #72
@paulodamaso no it doesn't

[2018-10-20 12:44] g4s8 commented on #72
@paulodamaso why? Actually it was not intended to add wring to this repo.

[2018-10-20 17:15] paulodamaso commented on #72
@g4s8 Right, I thought that you was trying to use wring, sorry.

[2018-10-21 00:47] paulodamaso commented on #72
@carlosmiranda Looks like we have a problem with user authentication; maybe user token is not valid, and its not used for accessing public repos, so it just complains when accessing private repos. To solve this issue I need to know how wring must behave when this problem happens.

[2018-10-21 07:01] 0crat commented on #72
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-21 20:16] 0crat commented on #71
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#71](https://github.com/yegor256/wring/issues/71); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-10-23 11:54] paulodamaso opened #73 "Remove versioneye badge"
`Versioneye` service has been shut down (https://blog.versioneye.com/2017/10/19/versioneye-sunset-process/) and the link now points to some other unrelated url. We must remove it from `README.md`.

[2018-10-23 11:54] 0crat commented on #73
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-10-23 15:13] teyyub opened #74 "wring could not start in netbeans"
Exception in thread "main" java.lang.IllegalArgumentException: Illegal character in path at index 1: ${sentry.dsn}
	at java.net.URI.create(URI.java:852)
	at io.sentry.dsn.Dsn.<init>(Dsn.java:40)
	at io.sentry.SentryClientFactory.resolveDsn(SentryClientFactory.java:73)
	at io.sentry.SentryClientFactory.sentryClient(SentryClientFactory.java:42)
	at io.sentry.Sentry.init(Sentry.java:81)
	at io.sentry

[2018-10-23 15:14] 0crat commented on #74
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-10-23 15:14] 0crat commented on #74
@teyyub[/z](https://www.0crat.com/u/teyyub) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7FCB1EQN) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-23 19:07] paulodamaso commented on #72
@0crat wait for #75 review

[2018-10-23 19:09] 0crat commented on #72
@paulodamaso The impediment for [#72](https://github.com/yegor256/wring/issues/72) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-23 23:50] 0crat commented on #73
The job [#73](https://github.com/yegor256/wring/issues/73) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C7FCB1EQN/18160a77-c693-4a77-a510-70c1ecc883dc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2018-10-23 23:50] 0crat commented on #73
Job `gh:yegor256/wring#73` already assigned to @carlosmiranda, can't assign to @carlosmiranda

[2018-10-23 23:51] 0crat commented on #73
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-10-23 23:51] 0crat commented on #73
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-23 23:56] carlosmiranda commented on #73
@paulodamaso fixed in https://github.com/yegor256/wring/commit/74bac4b51def237e40398ca98a1b3b32b71f0ee2. Please close.

[2018-10-24 12:48] 0crat commented on #73
Job was finished in 12 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-10-24 12:49] 0crat commented on #73
The job [#73](https://github.com/yegor256/wring/issues/73) is now out of scope

[2018-10-24 12:49] 0crat commented on #73
Order was finished: +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-10-26 20:40] 0crat commented on #71
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#71](https://github.com/yegor256/wring/issues/71); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-10-26 23:32] 0pdd opened #76 "Exec.java:57-60: Errors occurred during execution must be..."
The puzzle `72-f572f084` from #72 has to be resolved:

https://github.com/yegor256/wring/blob/220aed275459452f3c3a728eb3014e11b044a235/src/main/java/io/wring/agents/Exec.java#L57-L60

The puzzle was created by rultor on 26-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remove

[2018-10-26 23:32] 0pdd opened #77 "Errors.java:40-42: Create a Errors page where we will..."
The puzzle `72-8df4b47a` from #72 has to be resolved:

https://github.com/yegor256/wring/blob/220aed275459452f3c3a728eb3014e11b044a235/src/main/java/io/wring/model/Errors.java#L40-L42

The puzzle was created by rultor on 26-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remov

[2018-10-26 23:32] 0pdd opened #78 "DyErrors.java:43-47: Implement DyError and DyErrors..."
The puzzle `72-df0429be` from #72 has to be resolved:

https://github.com/yegor256/wring/blob/220aed275459452f3c3a728eb3014e11b044a235/src/main/java/io/wring/dynamo/DyErrors.java#L43-L47

The puzzle was created by rultor on 26-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2018-10-26 23:32] 0pdd commented on #72
@yegor256 3 puzzles [#76](https://github.com/yegor256/wring/issues/76), [#77](https://github.com/yegor256/wring/issues/77), [#78](https://github.com/yegor256/wring/issues/78) are still not solved.

[2018-10-26 23:32] 0crat commented on #78
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-10-26 23:33] 0crat commented on #77
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-10-26 23:33] 0crat commented on #76
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-10-26 23:43] 0crat commented on #78
Job [#78](https://github.com/yegor256/wring/issues/78) is now in scope, role is `DEV`

[2018-10-26 23:44] 0crat commented on #77
Job [#77](https://github.com/yegor256/wring/issues/77) is now in scope, role is `DEV`

[2018-10-26 23:44] 0crat commented on #76
Job [#76](https://github.com/yegor256/wring/issues/76) is now in scope, role is `DEV`

[2018-10-26 23:49] 0crat commented on #78
The job [#78](https://github.com/yegor256/wring/issues/78) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C7FCB1EQN/bc69a33f-b7b5-4761-80f5-3b6db01303f2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2018-10-26 23:50] 0crat commented on #77
The job [#77](https://github.com/yegor256/wring/issues/77) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C7FCB1EQN/d834a0be-37aa-402c-8f18-1f56586fe870); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2018-10-26 23:54] 0crat commented on #76
The job [#76](https://github.com/yegor256/wring/issues/76) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C7FCB1EQN/e63979ea-ad92-4dab-a727-d0a2cc8a237e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2018-10-26 23:56] paulodamaso commented on #72
@yegor256 done and merged, please close

[2018-10-30 01:18] paulodamaso commented on #72
@yegor256 ping

[2018-10-30 03:55] 0pdd commented on #77
The puzzle `72-8df4b47a` has disappeared from the source code, that's why I closed this issue.

[2018-10-30 03:55] #77 closed

[2018-10-30 03:55] 0pdd opened #82 "TkErrors.java:57-58: Implement error deletion on errors..."
The puzzle `77-dabedd93` from #77 has to be resolved:

https://github.com/yegor256/wring/blob/da98ac0ab57eb582453842c77e207f0be9105333/src/main/java/io/wring/tk/TkErrors.java#L57-L58

The puzzle was created by Paulo Lobo on 30-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2018-10-30 03:55] 0pdd commented on #72
@yegor256 3 puzzles [#76](https://github.com/yegor256/wring/issues/76), [#78](https://github.com/yegor256/wring/issues/78), [#82](https://github.com/yegor256/wring/issues/82) are still not solved; solved: [#77](https://github.com/yegor256/wring/issues/77).

[2018-10-30 03:55] 0pdd commented on #77
@0pdd the puzzle [#82](https://github.com/yegor256/wring/issues/82) is still not solved.

[2018-10-30 03:56] 0crat commented on #82
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-10-30 04:03] 0crat commented on #82
Job [#82](https://github.com/yegor256/wring/issues/82) is now in scope, role is `DEV`

[2018-10-30 04:15] 0crat commented on #82
The job [#82](https://github.com/yegor256/wring/issues/82) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C7FCB1EQN/d8be1802-b715-46ec-af2d-aea0db988daf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2018-10-30 04:16] 0crat commented on #77
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-10-30 04:16] 0crat commented on #77
The job [#77](https://github.com/yegor256/wring/issues/77) is now out of scope

[2018-10-30 05:46] 0pdd commented on #78
The puzzle `72-df0429be` has disappeared from the source code, that's why I closed this issue.

[2018-10-30 05:46] #78 closed

[2018-10-30 05:46] 0pdd opened #83 "DyErrors.java:52-54: Add errors table to dynamo. This..."
The puzzle `78-d3bf8dd1` from #78 has to be resolved:

https://github.com/yegor256/wring/blob/16c98ad38556a42ca9353c81f19a0e51ca8e4b2e/src/main/java/io/wring/dynamo/DyErrors.java#L52-L54

The puzzle was created by Paulo Lobo on 27-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2018-10-30 05:46] 0pdd commented on #72
@yegor256 3 puzzles [#76](https://github.com/yegor256/wring/issues/76), [#82](https://github.com/yegor256/wring/issues/82), [#83](https://github.com/yegor256/wring/issues/83) are still not solved; solved: [#77](https://github.com/yegor256/wring/issues/77), [#78](https://github.com/yegor256/wring/issues/78).

[2018-10-30 05:46] 0pdd commented on #78
@0pdd the puzzle [#83](https://github.com/yegor256/wring/issues/83) is still not solved.

[2018-10-30 05:47] 0crat commented on #83
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-10-30 05:53] 0crat commented on #83
Job [#83](https://github.com/yegor256/wring/issues/83) is now in scope, role is `DEV`

[2018-10-30 06:01] ypshenychka commented on #77
@0crat quality good

[2018-10-30 06:05] 0crat commented on #83
The job [#83](https://github.com/yegor256/wring/issues/83) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C7FCB1EQN/c9da230a-2987-479c-b138-0875414c0241); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2018-10-30 06:16] 0crat commented on #78
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-10-30 06:16] 0crat commented on #78
The job [#78](https://github.com/yegor256/wring/issues/78) is now out of scope

[2018-10-30 06:16] 0crat commented on #77
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-30 06:17] 0crat commented on #77
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-10-30 09:13] ypshenychka commented on #78
@0crat quality good

[2018-10-30 09:31] 0crat commented on #78
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-30 09:31] 0crat commented on #78
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-10-30 17:22] paulodamaso commented on #83
@carlosmiranda please take e look at this, I couldn't find where to put the script to create this table.

[2018-10-30 23:09] carlosmiranda commented on #83
@yegor256 need your help here

[2018-10-31 01:13] 0pdd commented on #76
The puzzle `72-f572f084` has disappeared from the source code, that's why I closed this issue.

[2018-10-31 01:13] #76 closed

[2018-10-31 01:13] 0pdd opened #85 "Error.java:59-62: Implement Error.Simple asXembly and..."
The puzzle `76-79d66798` from #76 has to be resolved:

https://github.com/yegor256/wring/blob/9470856c47c6c1b4e614b2ad6013688d5d11ace3/src/main/java/io/wring/model/Error.java#L59-L62

The puzzle was created by Paulo Lobo on 31-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2018-10-31 01:13] 0pdd opened #86 "Exec.java:59-66: Errors occurred during execution must be..."
The puzzle `76-1c475d69` from #76 has to be resolved:

https://github.com/yegor256/wring/blob/9470856c47c6c1b4e614b2ad6013688d5d11ace3/src/main/java/io/wring/agents/Exec.java#L59-L66

The puzzle was created by Paulo Lobo on 31-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2018-10-31 01:13] 0pdd commented on #72
@yegor256 4 puzzles [#82](https://github.com/yegor256/wring/issues/82), [#83](https://github.com/yegor256/wring/issues/83), [#85](https://github.com/yegor256/wring/issues/85), [#86](https://github.com/yegor256/wring/issues/86) are still not solved; solved: [#76](https://github.com/yegor256/wring/issues/76), [#77](https://github.com/yegor256/wring/issues/77), [#78](https://github.com/yegor256/wring

[2018-10-31 01:13] 0pdd commented on #76
@0pdd 2 puzzles [#85](https://github.com/yegor256/wring/issues/85), [#86](https://github.com/yegor256/wring/issues/86) are still not solved.

[2018-10-31 01:13] 0crat commented on #85
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-10-31 01:14] 0crat commented on #86
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-10-31 01:29] 0crat commented on #86
Job [#86](https://github.com/yegor256/wring/issues/86) is now in scope, role is `DEV`

[2018-10-31 01:35] 0crat commented on #76
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-10-31 01:39] 0crat commented on #76
The job [#76](https://github.com/yegor256/wring/issues/76) is now out of scope

[2018-10-31 08:13] ypshenychka commented on #76
@0crat quality good

[2018-10-31 21:43] 0crat commented on #71
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#71](https://github.com/yegor256/wring/issues/71); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-11-05 22:39] 0crat commented on #71
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#71](https://github.com/yegor256/wring/issues/71); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-11-06 06:40] sentry-io[bot] opened #87 "AssertionError: HTTP response status is not equal to 200:"
Sentry Issue: [WRING-BX-V](https://sentry.io/zerocracy/wring-bx/issues/566994960/)

[code]

[2018-11-06 06:40] 0crat commented on #87
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-11-06 06:40] 0crat commented on #87
@sentry-io[/z](https://www.0crat.com/u/sentry-io)[bot] this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7FCB1EQN) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-06 11:58] paulodamaso commented on #82
@0crat wait for #84 review and merge

[2018-11-06 11:59] 0crat commented on #82
@paulodamaso The impediment for [#82](https://github.com/yegor256/wring/issues/82) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-11-06 12:00] paulodamaso commented on #83
@yegor256 please take a look at this

[2018-11-06 12:01] paulodamaso commented on #83
@0crat wait for @yegor256 response

[2018-11-06 12:03] 0crat commented on #83
@paulodamaso The impediment for [#83](https://github.com/yegor256/wring/issues/83) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-11-10 23:40] 0crat commented on #71
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#71](https://github.com/yegor256/wring/issues/71); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-11-14 03:02] paulodamaso commented on #72
@yegor256 ping

[2018-11-16 00:39] 0crat commented on #71
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#71](https://github.com/yegor256/wring/issues/71); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-11-17 03:30] paulodamaso commented on #72
@yegor256 please close this issue, it was merged almost one month ago

[2018-11-21 01:39] 0crat commented on #71
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#71](https://github.com/yegor256/wring/issues/71); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-11-22 05:14] yegor256 commented on #72
@paulodamaso thanks!

[2018-11-22 05:14] #72 closed

[2018-11-22 05:15] yegor256 commented on #83
@paulodamaso thanks!

[2018-11-22 05:15] #83 closed

[2018-11-22 05:32] 0crat commented on #72
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-22 05:32] 0crat commented on #83
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-22 05:32] 0crat commented on #72
The job [#72](https://github.com/yegor256/wring/issues/72) is now out of scope

[2018-11-22 05:32] 0crat commented on #83
The job [#83](https://github.com/yegor256/wring/issues/83) is now out of scope

[2018-11-22 09:32] ypshenychka commented on #83
@paulodamaso According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add reference to PR.

[2018-11-22 09:35] 0crat commented on #72
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-11-22 09:42] 0crat commented on #72
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-22 15:37] ypshenychka commented on #83
@paulodamaso So was it not possible to create PR for that?

[2018-11-22 16:09] paulodamaso commented on #83
@yegor256 what's the status on this one? Have you created the table sou I can made a PR for this one?

[2018-11-26 02:42] 0crat commented on #71
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) everybody who has role `DEV` is banned at [#71](https://github.com/yegor256/wring/issues/71); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-11-27 20:18] paulodamaso commented on #83
@yegor256 ping

[2018-12-02 14:20] paulodamaso opened #88 "Wring does not fetch notifications"
I've set a `pipe` with the following configuration:
[code]
This pipe was supposed to send all notifications to inbox, but I've received some notifications from github in my e-mail and none of them were sent to my inbox.

[2018-12-02 14:20] 0crat commented on #88
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2018-12-04 01:16] paulodamaso commented on #83
@carlosmiranda Looks like something went wrong here, @yegor256 closed the issue but we do not know if he created the table that I need to uncomment and  fix the tests

[2018-12-11 01:05] paulodamaso commented on #83
@yegor256 These are the table specs:
[code]

[2018-12-12 01:12] 0pdd commented on #82
The puzzle `77-dabedd93` has disappeared from the source code, that's why I closed this issue.

[2018-12-12 01:12] #82 closed

[2018-12-12 01:12] 0pdd commented on #72
@yegor256 3 puzzles [#83](https://github.com/yegor256/wring/issues/83), [#85](https://github.com/yegor256/wring/issues/85), [#86](https://github.com/yegor256/wring/issues/86) are still not solved; solved: [#76](https://github.com/yegor256/wring/issues/76), [#77](https://github.com/yegor256/wring/issues/77), [#78](https://github.com/yegor256/wring/issues/78), [#82](https://github.com/yegor256/wring

[2018-12-12 01:12] 0pdd commented on #77
@0pdd the only puzzle [#82](https://github.com/yegor256/wring/issues/82) is solved here.

[2018-12-12 01:31] 0crat commented on #82
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-12 01:31] 0crat commented on #82
The job [#82](https://github.com/yegor256/wring/issues/82) is now out of scope

[2018-12-12 17:32] ypshenychka commented on #82
@0crat quality good

[2018-12-12 17:44] 0crat commented on #82
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-12 17:44] 0crat commented on #82
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-12 17:44] 0crat commented on #82
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-12 17:44] 0crat commented on #82
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-17 21:17] ypshenychka commented on #83
@yegor256 Any progress with this one? It's hanging as closed in my agenda for more than a month, but stilll some work is going around.

[2018-12-25 13:52] yegor256 commented on #83
@paulodamaso what about keys? Can you put this table into JSON format, where all other tables are?

[2018-12-27 15:21] paulodamaso commented on #83
@yegor256 please take a look at https://github.com/yegor256/wring/pull/89

[2019-01-01 16:06] fabriciofx opened #90 "Let's update Copyright notice to 2019."
Let's update Copyright notice to 2019.

[2019-01-01 16:06] 0crat commented on #90
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2019-01-01 16:06] 0crat commented on #90
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7FCB1EQN) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-03 11:57] paulodamaso commented on #83
@yegor256 ping

[2019-01-22 02:46] 0pdd commented on #72
@yegor256 2 puzzles [#85](https://github.com/yegor256/wring/issues/85), [#86](https://github.com/yegor256/wring/issues/86) are still not solved; solved: [#76](https://github.com/yegor256/wring/issues/76), [#77](https://github.com/yegor256/wring/issues/77), [#78](https://github.com/yegor256/wring/issues/78), [#82](https://github.com/yegor256/wring/issues/82), [#83](https://github.com/yegor256/wring

[2019-01-22 02:46] 0pdd commented on #78
@0pdd the only puzzle [#83](https://github.com/yegor256/wring/issues/83) is solved here.

[2019-01-24 14:25] ypshenychka commented on #83
@paulodamaso Looks like PR is merged. Please proceed with closing this ticket then.

[2019-01-24 15:03] paulodamaso commented on #83
@ypshenychka The ticket is already closed and was remoed from scope in https://github.com/yegor256/wring/issues/83#issuecomment-440917725 , but it was closed by mistake, without the proper resolution, which came only in https://github.com/yegor256/wring/pull/89 . So I think that you must make the QA revision of this issue

[2019-01-24 15:06] ypshenychka commented on #83
@paulodamaso you're right. Thanks

[2019-01-24 15:06] ypshenychka commented on #83
@0crat quality good

[2019-01-24 15:20] 0crat commented on #83
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-24 15:20] 0crat commented on #83
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-24 15:21] 0crat commented on #83
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-24 15:22] 0crat commented on #83
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-05-05 05:46] yegor256 opened #91 "I'm getting "connection timeout" for my inbox"
Something is not right.

[2019-05-05 05:46] 0crat commented on #91
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2019-05-05 05:46] yegor256 commented on #91
@carlosmiranda I'll fix it now

[2019-05-05 05:47] yegor256 commented on #90
@fabriciofx done, thanks

[2019-05-05 05:48] #90 closed

[2019-05-05 06:05] 0crat commented on #90
Job `gh:yegor256/wring#90` is not assigned, can't get performer

[2019-05-05 06:05] 0crat commented on #90
This job is not in scope

[2019-05-05 06:50] yegor256 commented on #88
@paulodamaso this was a temporary issue. Check now.

[2019-05-05 06:50] #88 closed

[2019-05-05 06:51] yegor256 commented on #91
@rultor release, tag is `0.19.11`

[2019-05-05 06:52] rultor commented on #91
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18799-489396668)

[2019-05-05 06:57] rultor commented on #91
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18799-489396668) (took me 4min)

[2019-05-05 07:08] 0crat commented on #88
Job `gh:yegor256/wring#88` is not assigned, can't get performer

[2019-05-05 07:08] 0crat commented on #88
This job is not in scope

[2019-05-05 07:14] #91 closed

[2019-05-05 07:31] 0crat commented on #91
Job `gh:yegor256/wring#91` is not assigned, can't get performer

[2019-05-05 07:31] 0crat commented on #91
This job is not in scope

[2019-05-30 17:56] yegor256 commented on #87
@rultor release, tag is `0.19.12`

[2019-05-30 17:58] rultor commented on #87
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19077-497423016)

[2019-05-30 18:03] rultor commented on #87
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19077-497423016) (took me 3min)

[2019-07-02 17:24] mhp0rtal opened #92 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => src/main/java/io/wring/dynamo/DyEvent.java: Line number => 116: API name => MessageDigest:First parameter (with value "MD5") should be any of {SHA-256, SHA-384, SHA-512}<BR> File name => src/main/java/io/wring/dynamo/DyEvent.java: Line number => 122: API name => MessageDigest:<BR>

[2019-07-02 17:24] 0crat commented on #92
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-02 17:24] 0crat commented on #92
@mhp0rtal[/z](https://www.0crat.com/u/mhp0rtal) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7FCB1EQN) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-17 13:11] yegor256 opened #93 "deploy to Dokku"
Let's deploy

[2019-10-17 13:41] yegor256 commented on #93
@rultor release, tag is `0.19.13`

[2019-10-17 13:43] rultor commented on #93
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20628-543180434)

[2019-10-17 13:47] rultor commented on #93
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20628-543180434) (took me 4min)

[2019-10-17 13:53] #93 closed

[2019-10-17 15:42] 0crat commented on #93
Job `gh:yegor256/wring#93` is not assigned, can't get performer

[2019-10-17 16:04] 0crat commented on #93
This job is not in scope

[2020-08-05 07:29] yegor256 opened #94 "telegram updates"
Let's enable them

[2020-08-05 09:36] yegor256 commented on #94
@rultor release, tag is `0.20.0`

[2020-08-05 09:37] yegor256 commented on #94
@rultor stop

[2020-08-05 09:38] rultor commented on #94
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22816-669091708)

[2020-08-05 09:40] rultor commented on #94
@yegor256 OK, I'll try to stop current task.

[2020-08-05 09:42] rultor commented on #94
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22816-669091842) (spent 4min)

[code]

[2020-08-05 09:45] yegor256 commented on #94
@rultor release, tag is `0.20.0`

[2020-08-05 09:46] rultor commented on #94
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22816-669095648)

[2020-08-05 09:52] rultor commented on #94
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22816-669095648) (took me 6min)

[2020-09-28 15:06] ChameleonTartu opened #95 "Show signs "more" and "less" as they are, not as "gt;" and "lt;" in wring.io"
I spotted a small and inconvenient bug.

When someone uses `less` or `more` signs in the comment one GitHub, I will see the following result in wring.io:

**Output: **

[code]

**Expectation:**

I would expect to see the same message as in the original point on the GitHub issue:

[code]

**Possible Solution:**

I am not familiar with the `wring` product as a developer, but I will assume that it wo

[2022-09-22 11:20] renovate[bot] opened #99 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update aws-java-sdk monorepo to v1.12.308 (`com.amazonaws:aws-java-sdk-dynamodb`, `com.amazonaws:aws-java-sdk-